# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
# Your code here
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [4]:
df.shape

(4008, 11)

In [8]:
df.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [11]:
"""
df["Customer Lifetime Value"] = pd.to_numeric(df["Customer Lifetime Value"])
df["Number of Open Complaints"] = df["Number of Open Complaints"].astype(int)

df.Customer = df.Customer,astype(str)
df.ST = df.ST.astype('category')
df.GENDER = df.GENDER.astype('category')
df.Education = df.Education.astype('category')
df["Policy Type"] = df["Policy Type"].astype('category')
df["Vehicle Class"] = df["Vehicle Calss"].astype('category')
"""

'\ndf["Customer Lifetime Value"] = pd.to_numeric(df["Customer Lifetime Value"])\ndf["Number of Open Complaints"] = df["Number of Open Complaints"].astype(int)\n\ndf.Customer = df.Customer,astype(str)\ndf.ST = df.ST.astype(\'category\')\ndf.GENDER = df.GENDER.astype(\'category\')\ndf.Education = df.Education.astype(\'category\')\ndf["Policy Type"] = df["Policy Type"].astype(\'category\')\ndf["Vehicle Class"] = df["Vehicle Calss"].astype(\'category\')\n'

In [14]:
# Identify the number of unique values for each column and determine which columns appear to be categorical. 
# You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
categorical_v_list = ["ST", "GENDER", "Education", "Policy Type", "Vehicle Class",]

for v in categorical_v_list:
    print("Column name: ",v)
    values = df[v].unique()
    print("Number of unique values for ", v, " : ", len(values))
    print(values)

numerical_v_list = ["Income", "Monthly Premium Auto", "Total Claim Amount"]

for u in numerical_v_list:
    print("Range for ",u, " : ", max(df[u])-min(df[u]))

Column name:  ST
Number of unique values for  ST  :  9
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
Column name:  GENDER
Number of unique values for  GENDER  :  6
[nan 'F' 'M' 'Femal' 'Male' 'female']
Column name:  Education
Number of unique values for  Education  :  7
['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
Column name:  Policy Type
Number of unique values for  Policy Type  :  4
['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
Column name:  Vehicle Class
Number of unique values for  Vehicle Class  :  7
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]
Range for  Income  :  99960.0
Range for  Monthly Premium Auto  :  35293.0
Range for  Total Claim Amount  :  2892.857571

In [15]:
# Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency
# and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.

numerical_df = df[["Income", "Monthly Premium Auto", "Total Claim Amount"]]

numerical_df.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

In [ ]:
# Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [20]:
df_categorical = df[["ST", "GENDER", "Education", "Policy Type", "Vehicle Class",]]

df_categorical.describe()

for colname in categorical_v_list:
    print(df[colname].value_counts(normalize=True))

ST
Oregon        0.298786
California    0.197012
Arizona       0.173669
Cali          0.112045
Nevada        0.091503
Washington    0.075630
WA            0.028011
AZ            0.023343
Name: proportion, dtype: float64
GENDER
F         0.479036
M         0.432914
Male      0.040881
female    0.029350
Femal     0.017820
Name: proportion, dtype: float64
Education
Bachelor                0.302521
College                 0.292250
High School or Below    0.276377
Master                  0.087768
Doctor                  0.034547
Bachelors               0.006536
Name: proportion, dtype: float64
Policy Type
Personal Auto     0.728291
Corporate Auto    0.218487
Special Auto      0.053221
Name: proportion, dtype: float64
Vehicle Class
Four-Door Car    0.537815
Two-Door Car     0.191410
SUV              0.185808
Sports Car       0.053221
Luxury SUV       0.018674
Luxury Car       0.013072
Name: proportion, dtype: float64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [32]:
# Your code here
df_exo_1 = df.ST.value_counts(normalize=True).rename_axis('ST').reset_index(name='Frequency')
df_exo_1.sort_values(by='Frequency', ascending = True).head(5)

           ST  Frequency
7          AZ   0.023343
6          WA   0.028011
5  Washington   0.075630
4      Nevada   0.091503
3        Cali   0.112045

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [37]:
# Your code here
df_exo_2 = df["Policy Type"].value_counts(normalize=True).rename_axis("Policy Type").reset_index(name='Frequency')
row_id_max_number = df_exo_2.Frequency.idxmax()
print(df_exo_2.iloc[row_id_max_number , : ])

Policy Type    Personal Auto
Frequency           0.728291
Name: 0, dtype: object

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [48]:
# Your code here
df1 = df.loc[df["Policy Type"] == "Personal Auto"]

df2 = df.loc[df["Policy Type"] == "Corporate Auto"]

mean_personal_auto = df1.Income.mean()
mean_corporate_auto = df2.Income.mean()

print("Personal auto Average Income :", round(mean_personal_auto, 2))
print("Corporate auto Average Income :", round(mean_corporate_auto, 2))

Personal auto Average Income : 38180.7
Corporate auto Average Income : 41390.31

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here